<% include partials/header %>

<h2>Add Details For Car</h2>
<form action="/" method="POST">
    <input type="text" name="car[regNo]" placeholder="register no">
    <input type="text" name="car[carName]" placeholder="car name">
    <input type="text" name="car[comapany]" placeholder="comapany name">
    <input type="number" name="car[cost]" placeholder="price">
    <input type="number" name="car[kms]" placeholder="kms driven">
    <input type="text" name="car[location]" placeholder="location">
    <input type="text" name="car[insurance]" placeholder="yes or no">
    <input type="submit" value="submit">
</form>





<% include partials/footer %>
